<div class="main__403" parallax-bg="1/2">
  <div class="main__403__body">
    <h2><i class="fa fa-space-shuttle"></i> Hohoho</h2>
    <div class="lead">
      <p>
        You accessed a non-fly zone!
      </p>
      <p>
        Something went wrong and we lost control at a point. You can either ask for help
        <a href="{{ main.slackStatus.hostname }}" target="_blank">on Slack</a> or go back in time and try to learn from your mistakes.
      </p>
      <p>
        <a class="main__403__body__btn btn btn-reverse" ui-sref="main">
          Go back to the homepage
        </a>
      </p>
    </div>
  </div>
</div>
