<div class="container">
  <br />
  <div class="jumbotron">
    <h1>Hello world!</h1>
    <%= link_to 'Sign out', :controller => 'active_admin/devise/sessions', :action => 'destroy', :class => 'btn btn-danger' %>
  </div>
</div>
