<div class="main__season">

  <div class="main__season__activity" ng-if="main.user && main.season" ng-style="{ background: main.season.primary_color }">
    <div class="main__season__activity__wrapper row">
      <div class="col-xs-6">
        <span class="main__season__activity__wrapper__title">
          <a ng-href="{{ main.season.engine.root_path }}">{{ main.season.name }}</a>
        </span>
      </div>
      <div class="col-xs-6 text-xs-right">
        <span ng-bind-html=" 'header.activity.points' | translate:{ points: main.season.progression.points }"></span>
        <span>&nbsp;/&nbsp;{{ main.season.progression.position }}</span>
        <span ng-switch="position[ position.length - 1 ]" ng-init="position = main.season.progression.position + ''">
          <sup ng-switch-when="1">
            st
          </sup>
          <sup ng-switch-when="2">
            nd
          </sup>
          <sup ng-switch-when="3">
            rd
          </sup>
          <sup ng-switch-default>
            th
          </sup>
        </span>
        <i class="fa fa-trophy"></i>
      </div>
    </div>
  </div>

  <div ui-view></div>

  <div class="main__season__course-materials"
       ng-show="courseMaterials.hasSelected()"
       ng-class="{ 'main__season__course-materials--open': courseMaterials.isVisible() }">
    <div class="main__season__course-materials__tabs">
      <div class="container">
        <ul class="list-inline">
          <li ng-repeat="courseMaterial in courseMaterials.getSelected()"
              class="main__season__course-materials__tabs__item"
              ng-class="{
                'main__season__course-materials__tabs__item--active': courseMaterials.isOpen(courseMaterial)
              }">
            <a ng-click="courseMaterials.select(courseMaterial)">
              {{ courseMaterial.title }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main__season__course-materials__selection">
      <div class="container" ng-bind-html="courseMaterials.getOpen().body_html"></div>
    </div>
  </div>
</div>
