<div class="main__season">

  <div class="main__season__activity" ng-if="main.user && main.season" ng-style="{ background: main.season.primary_color }">
    <div class="main__season__activity__wrapper row">
      <div class="col-xs-6">
        <span class="main__season__activity__wrapper__title">
          {{ main.season.name }}
        </span>
        <span class="main__season__activity__wrapper__title">
          <a ng-href="{{ main.season.engine.root_path }}">Your missions</a>
        </span>
        <span class="main__season__activity__wrapper__title" ng-repeat="crumb in $breadcrumbs">
          {{ crumb.title }}
        </span>
      </div>
      <div class="col-xs-6 text-xs-right">
        <a class="animated"
           ui-sref="main.season.leaderboard"
           ng-class="{ 'rubberBand': season.seeksAttentionOnPoint(main.season.progression.points) }">
          <span ng-bind-html=" 'header.activity.points' | translate:{ points: main.season.progression.points }"></span>
          <span>&nbsp;/&nbsp;{{ main.season.progression.position }}</span>
          <sup>
            {{ main.positionAbbr(main.season.progression.position) }}
          </sup>
          <i class="fa fa-trophy"></i>
        </a>
      </div>
    </div>
  </div>

  <div ui-view></div>

  <div class="main__season__course-materials-panel"
       ng-show="courseMaterials.hasSelected()"
       ng-class="{ 'main__season__course-materials-panel--open': courseMaterials.isVisible() }">
    <div class="main__season__course-materials-panel__tabs"
         ng-class="{ 'main__season__course-materials-panel__tabs--reduced': courseMaterials.getSelected().length >= 5 }">
      <div class="container">
        <ul class="list-inline">
          <li ng-repeat="courseMaterial in courseMaterials.getSelected()"
              class="main__season__course-materials-panel__tabs__item"
              ng-class="{
                'main__season__course-materials-panel__tabs__item--active': courseMaterials.isOpen(courseMaterial)
              }">
            <button class="btn btn-link" ng-click="courseMaterials.select(courseMaterial)" uib-tooltip="Toggle this course" tooltip-append-to-body="true">
              {{ courseMaterial.title }}
            </button>
            <button class="btn btn-link" ng-click="courseMaterials.unselect(courseMaterial)" uib-tooltip="Close this course" tooltip-append-to-body="true">
              <span class="sr-only">Close this course</span>✕
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="main__season__course-materials-panel__selection"
         ng-class="{ 'main__season__course-materials-panel__selection--loading': !courseMaterials.getOpen().body_html }">
      <div class="container main__season__course-materials-panel__selection__body" ng-bind-html="courseMaterials.getOpen().body_html"></div>
      <div class="container main__season__course-materials-panel__selection__further-readings" ng-hide=" 'main.season.course-materials' | isState ">
        <div class="row">
          <div class="col-md-4 hidden-down-md text-md-right">
            <i class="fa fa-graduation-cap fa-4x"></i>
          </div>
          <div class="col-md-8">
            <h3>Like this reading?</h3>
            <p>
              jQuest comes with a large number of resource about topical
              information on a specific aspect of datajournalism and
              to help you carry out your mission.
            </p>
            <a ui-sref="main.season.course-materials" class="btn btn-link">See all course materials</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
