  .main__season {

  &__activity {
    position: relative;
    z-index:50;
    overflow: hidden;
    @include box-shadow(0 1px 2px 0 rgba(black, .1));

    &__wrapper {
      padding: 0 $navbar-padding-horizontal;
      color:$card-bg;
      top:0;
      font-size: .9rem;
      height:2rem;
      line-height:2rem;
      white-space: nowrap;

      &__title {
        font-size: 1rem;
        font-weight: 100;
        position: relative;

        a { color:inherit; }

        &:after {
          width:2rem;
          height:2rem;
          display: block;
          content:"";
          position: absolute;
          left:100%;
          top:50%;
          border:1px solid $card-bg;
          border-left:0;
          border-bottom:0;
          @include vendor-prefix(transform, translate(-50%, -50%) rotate(45deg) );
        }
      }
    }
  }

  &__course-materials-panel {
    position: fixed;
    top:calc(100% - 4px);
    bottom:0;
    left:0;
    right:0;
    background: $brand-primary;
    min-height: 1rem;
    z-index:$zindex-navbar-fixed + 20;
    @include box-shadow(0 1px 2px 0 rgba(black, .1));
    @include vendor-prefix(transition, .4s);

    &--open {
      top:$navbar-height + $line-height * 1.4rem;
      top: 20vh;
      @include box-shadow(0 0 100px 0 rgba(black, .6));
    }

    &__tabs {
      position: absolute;
      bottom:100%;
      left:0;
      right:0;
      pointer-events: none;

      &:after {
        content:"";
        position: absolute;
        left:1rem;
        right:1rem;
        border-top: $brand-primary 4px solid;
        height:.5rem;
        z-index:100;
        @include gradient-vertical($brand-primary, rgba($brand-primary, 0));
      }

      ul {
        margin:0;
        padding:0;
      }

      &__item {
        padding:0;
        display: inline;
        margin-right:.5rem;
        font-weight: lighter;
        pointer-events: auto;

        background: darken($brand-primary, 5);
        display: inline-block;
        border-radius: $navbar-border-radius $navbar-border-radius 0 0;
        @include box-shadow(0 -3px 2px 0 rgba(black, .1) inset);

        &--active {
          font-weight: bolder;
          @include box-shadow(none);
          background: $brand-primary;
        }

        .btn {
          cursor: pointer;
          color:white;
          margin:0;
          padding: $navbar-padding-vertical/2 $navbar-padding-horizontal;
          position: relative;

          &:hover {
            text-decoration: none;
          }

          &:focus {
            outline:none;
          }

          &:after {
            content:"";
            height:1.2rem;
            width:1px;
            background:mix($brand-primary, white, 70);
            position: absolute;
            left:100%;
            top:50%;
            @include vendor-prefix(transform, translateY(-50%));
          }

          &:last-child:after {
            display: none;
          }
        }
      }

    }

    &--open &__selection {
      overflow: auto;
    }

    &__selection {
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      padding: $line-height * 2rem 0;
      overflow: hidden;

      html body &--loading .container {
        background:white image-url("text-placeholder.svg") no-repeat 20px 20px;
        background-size: auto 150px;
      }

      .container {
        padding: $card-spacer-y $card-spacer-x;
        border-radius: $card-border-radius;
        background:white;
        min-height: 300px;
        @include box-shadow(0 1px 2px 0 rgba(black, .1));

        h1 {
          padding-top: .5em;
          padding-bottom:1em;
          margin-bottom:1em;

          border-bottom:1px solid $gray-lighter;
        }
      }
    }
  }
}
