<div class="main__season">

  <div class="main__season__activity" ng-if="main.user && main.season" ng-style="{ background: main.season.primary_color }">
    <div class="main__season__activity__wrapper row">
      <div class="col-xs-6">
        <span class="main__season__activity__wrapper__title">
          {{ main.season.name }}
        </span>
      </div>
      <div class="col-xs-6 text-xs-right">
        <span ng-bind-html=" 'header.activity.points' | translate:{ points: main.user.points[main.season.id] }"></span>
        <i class="fa fa-trophy"></i>
      </div>
    </div>
  </div>

  <div ui-view></div>
</div>
