.card {
  @include box-shadow(0 1px 2px darken($card-border-color, 5));
}

.flash {
  display: none;
}

.growl {
  width:300px;
  z-index: $zindex-navbar-fixed + 20;
  &-container > &-item {
    padding-right:10px;
    @include box-shadow(0 1px 5px darken($card-border-color, 50));
  }
}

.body {

  @include media-breakpoint-down(xs) {
    padding-top:$navbar-height * 2;
    &--has-overlay {
      overflow: hidden;
    }
  }

  &__overlay {
    position: fixed;
    z-index: $zindex-navbar-fixed;
    top:100px;
    left:0;
    right:0;
    bottom:0;
    $bg: $body-bg;
    @include gradient-vertical( rgba($bg, 0), $bg);
    @include transition(700ms);

    &.ng-hide {
      opacity: 0;
    }

    @include media-breakpoint-down(xs) {
      background: rgba(darken($card-border-color, 5), .7);
    }


  }
}
