.flash {
  display: none;
}

.growl {
  width:300px;
  z-index: $zindex-navbar-fixed + 20;
  &-container > &-item {
    padding-right:10px;
    @include box-shadow(0 1px 2px 0 rgba(black, .1));
  }
}

.body {

  a[ng-click] {
    cursor: pointer;
  }

  blockquote {
    padding: 0 $spacer;
    margin-bottom: $spacer;
    font-size: $blockquote-font-size;
    border-left:  .25rem solid $blockquote-border-color;
  }

  .lead {
    font-family: $leads-font-family;
    font-weight: 300;
  }

  &--has-overlay {
    @include media-breakpoint-down(sm) {
      overflow: hidden;
    }
  }

  &--has-course-material {
    overflow: hidden;
  }

  &__overlay {
    z-index: $zindex-navbar-fixed;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    $bg: $body-bg;
    @include gradient-y( rgba($bg, .4), $bg);
    @include transition(700ms);

    &.ng-hide {
      opacity: 0;
    }

    @include media-breakpoint-down(sm) {
      background: rgba(darken($card-border-color, 5), .7);
    }
  }

  #loading-bar{
    .peg {
      @include box-shadow($brand-primary .5vh 0 6px .5vh);
    }
    .bar {
      height: .5vh;
      background-color: $brand-primary;
      z-index: $zindex-navbar-fixed + 1000;
    }
  }
}
