/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

bower_components
public/assets/*
local-env.yml
.byebug_history
.git
jquest.tar
jquest.tar.gz
config/google-session.json
docker-compose.yml
