web:
  build: .
  command: 'bash -c ''bundle exec puma -C config/puma.rb'''
  working_dir: /app/user
  environment: &ENV
    PORT: 8080
    RAILS_SERVE_STATIC_FILES: 1
    # Those options can be set here
    # SECRET_KEY_BASE: <SOMETHING VERY SECRET>
    # MAILTRAP_API_TOKEN: <SOMETHING VERY SECRET>
    # MONGOLAB_URI: <SOMETHING VERY SECRET>
  ports:
    - '8080:8080'
shell:
  build: .
  command: bash
  working_dir: /app/user
  environment:
    <<: *ENV
  ports:
    - '8080:8080'
  volumes:
    - '.:/app/user'
