<div class="container">
  <header class="header" ng-controller="HeaderCtrl as header">
    <nav class="navbar navbar-light header__navbar">
      <div class="header__navbar__hamburger">
        <a class="hamburger hamburger--squeeze" ng-class="{ 'is-active': header.isMenuVisible() }" ng-click="header.toggleMenu()">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </a>
      </div>
      <div class="navbar-brand header__navbar__brand">
        <a href="/">jQuest</a>
      </div>
      <div class="nav header__navbar__title" ng-style=":: { background: header.menu.getPrimaryColor() }" ng-if=":: header.menu.hasTitle()">
        {{ header.menu.getTitle() }}
      </div>


      <div class="nav navbar-nav pull-xs-right">
        <li class="nav-item header__navbar__user" uib-dropdown ng-show="main.currentUser">
          <a href uib-dropdown-toggle>
            <img src="//www.gravatar.com/avatar/{{ main.currentUser.email_md5 }}?d=retro" class="img-circle header__navbar__user__avatar" />
          </a>
          <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <h6 class="dropdown-header">
              <span ng-bind-html="'header.nav.user-display' | translate: main.currentUser"></span>
            </h6>
            <div ng-show="main.currentUser.role !== 'student'">
              <a class="dropdown-item" href="/admin" translate>header.nav.admin</a>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/sign_out" translate>header.nav.logout</a>
          </div>
        </li>
        <li class="nav-item" ng-hide="main.currentUser">
          <a class="nav-link" href="/users/sign_in" translate>header.nav.login</a>
        </li>
      </div>

      <form class="form-inline nav-item header__navbar__search pull-xs-right">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control  header__navbar__search__input" type="search" placeholder="{{ navbar.search | translate }}" id="input-search">
            <label class="input-group-addon header__navbar__search__addon" for="input-search">
              <i class="fa fa-search"></i>
            </label>
          </div>
        </div>
      </form>
    </nav>

    <div class="header__menu" ng-show="header.isMenuVisible()">
      <div ng-repeat="category in header.menu.getCategories()">
        <h4 class="header__menu__links__heading"  ng-if="category">{{ category }}</h4>
        <ul class="list-inline row header__menu__links">
          <li class="header__menu__links__item col-md-3"
              ng-class="{ 'header__menu__links__item--active': item.isActive() }"
              ng-repeat="item in ::header.menu.getItems(category)">
            <a class="card card-block" ng-href="{{ :: item.getHref() }}">
              {{ item.name | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>
