<header class="header" ng-controller="HeaderCtrl as header" ng-swipe-left="menu.hide()" ng-swipe-right="menu.show()">
  <div class="header__nav">
    <nav class="navbar navbar-light header__nav__navbar">
      <div class="header__nav__navbar__hamburger" ng-if="menu.hasItems()">
        <a class="hamburger hamburger--squeeze" ng-class="{ 'is-active': menu.isVisible() }" ng-click="menu.toggle()">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </a>
      </div>

      <div class="navbar-brand header__nav__navbar__brand">
        <a href="#!/" class="a-unstyled">
          <img alt="jQuest" ng-src="<%= image_url('jquest-purple.svg') %>" height="30px" />
        </a>
      </div>

      <ul class="nav navbar-nav header__nav__navbar__links hidden-xs-down">
        <li class="nav-item">
          <a href="http://www.jplusplus.org/en/paris-berlin" target="_blank"  class="nav-link">
            by Journalism++
          </a>
        </li>
        <li class="nav-item">
          <a href="http://blog.jquestapp.com" target="_blank"  class="nav-link">
            Blog
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item header__nav__navbar__user" uib-dropdown ng-if="main.user">
          <a href uib-dropdown-toggle class="a-unstyled">
            <img src="//www.gravatar.com/avatar/{{ main.user.email_md5 }}?d=retro" class="img-circle header__nav__navbar__user__avatar" />
          </a>
          <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <h6 class="dropdown-header">
              <span ng-bind-html="'header.nav.user-display' | translate: main.user"></span>
            </h6>
            <div ng-show="main.user.role === 'admin'">
              <a class="dropdown-item" href="/admin" translate>header.nav.admin</a>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/sign_out" translate>header.nav.logout</a>
          </div>
        </li>
        <li class="nav-item" ng-hide="main.user">
          <a class="nav-link btn btn-warning" href="/users/sign_in" translate>header.nav.login</a>
        </li>
      </ul>

      <form class="form-inline nav-item header__nav__navbar__search pull-xs-right hidden-xs-down"
            ng-submit="menu.search(header.q)"
            ng-if="menu.hasSearch()">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control  header__nav__navbar__search__input"
                   type="text"
                   ng-model="header.q"
                   placeholder="{{ navbar.search | translate }}" id="input-search">
            <label class="input-group-addon header__nav__navbar__search__addon" for="input-search">
              <i class="fa fa-search"></i>
            </label>
          </div>
        </div>
      </form>

      <div class="header__nav__navbar__slack nav-item pull-xs-right hidden-xs-down" ng-if="main.user && main.slackStatus">
        <div uib-popover-template="'header/slack/slack.html'"
             popover-placement="bottom-right"
             popover-enable="!main.slackStatus.is_member"
             popover-trigger="{ 'outsideClick': 'outsideClick' }"
             popover-is-open="main.showSlackPopover">
          <h4 class="header__nav__navbar__slack__heading">
            <a href="{{ main.slackStatus.hostname }}" target="_blank" ng-if="main.slackStatus.is_member" class="a-unstyled">
              <img src="<%= image_path('slack.svg') %>" alt="" height="16px" />
              Ask for help
            </a>
            <span ng-if="!main.slackStatus.is_member">
              <i class="fa fa-lock"></i>
              Ask for help
            </span>
          </h4>
          <div class="header__nav__navbar__slack__details">
            {{ main.slackStatus.total }} members, {{ main.slackStatus.active }} online
          </div>
        </div>
      </div>
    </nav>

    <div class="header__nav__menu" ng-show="menu.isVisible()">
      <div ng-repeat="category in header.menu.getCategories()">
        <h4 class="header__nav__menu__links__heading"  ng-if="category">{{ category }}</h4>
        <ul class="list-inline row header__nav__menu__links">
          <li class="header__nav__menu__links__item a-unstyled col-sm-6 col-md-4 col-lg-3"
              ng-class="{ 'header__nav__menu__links__item--active': item.isActive() }"
              ng-repeat="item in header.menu.getItems(category)">
            <a class="card card-block a-unstyled" ng-click="item.click()" ng-href="{{ :: item.href }}">
              <p>{{ item.name | translate }}</p>
              <p class="text-muted">{{ item.desc | translate }}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
