<div class="main__season__course-materials container">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title">Course materials</h3>
      <p class="lead">
        Those documents help you to achieve your mission by learning the best datajournalism techniques.
      </p>
    </div>
    <div>
      <table ng-repeat="(category, materials) in cm.categories" class="table table-striped">
        <caption class="text-xs-center">{{ category || 'Other' }}</caption>
        <tbody class="">
          <tr ng-repeat="material in materials">
            <td>
              <a ui-sref="main.season.course-materials.show({ id: material.id })">
                {{ material.title }}
              </a>
            </td>
            <td class="text-xs-right">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div ui-view></div>
</div>
