<header></header>
<div class="main" ui-view>
  <div class="main__intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 main__intro__headline">
          <h1>
            Enroll in <img alt="jQuest" src="../../images/jquest-white.svg" height="40px" />
          </h1>
          <p class="lead">
            jQuest is a platform for journalism schools. It lets journalism students in Europe <strong>learn</strong> datajournalism, <strong>connect</strong> with one another and <strong>investigate</strong> collaboratively.
          </p>
        </div>
        <div class="col-sm-5 push-sm-1 main__intro__form" ng-init="main.iam = 'school'">
          <label class="lead">
            <input type="radio" ng-model="main.iam" value="school" />
            I'm a journalism school
          </label>
          <label class="lead">
            <input type="radio" ng-model="main.iam" value="student" />
            I'm a student
          </label>
          <div ng-switch="main.iam" class="text-muted">
            <div ng-switch-when="school">
              <p>You can use jQuest either as a stand-alone datajournalism module, as support for your current datajournalism class or as an introduction. jQuest comes with 40+ courses that you can share with your students.</p>
            </div>
            <div ng-switch-when="student">
              <p>Curious about jQuest? Want to connect with hundreds of fellow future journalists in 15+ countries? Ask us for an account or lobby your school to get you in!</p>
            </div>
          </div>
          <p class="text-xs-center text-sm-left">
            <a class="btn btn-secondary" href="mailto:enroll@jquestapp.com">
              <i class="fa fa-envelope-o"></i>&nbsp;
              enroll@jquestapp.com
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="main__features">
    <h3>How it works</h3>
    <div class="container">
      <div class="row">
        <div class="main__features__steps">
          <div class="col-sm-3 main__features__steps__item">
            <h5 class="main__features__steps__item__heading">Enroll</h5>
            <p class="small text-muted main__features__steps__item__description">
              Contact us to enroll as a solo student or as a class.
          </div>
          <div class="col-sm-3 main__features__steps__item">
            <h5 class="main__features__steps__item__heading">Missions</h5>
            <p class="small text-muted main__features__steps__item__description">
              Gather data with fellow students and create an exclusive database.
            </p>
          </div>
          <div class="col-sm-3 main__features__steps__item">
            <h5 class="main__features__steps__item__heading">Learning material</h5>
            <p class="small text-muted main__features__steps__item__description">
              Learn techniques, tools and theories from the best datajournalists in Europe.
            </p>
          </div>
          <div class="col-sm-3 main__features__steps__item">
            <h5 class="main__features__steps__item__heading">European Network</h5>
            <p class="small text-muted main__features__steps__item__description">
              Connect with journalism students from all across Europe.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main__supports">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-2 col-md-6 text-md-right">
          <div class="main__supports__bubble">
            jQuest is proud to be supported by the Open Society Foundations'
            program on independent journalism.
          </div>
        </div>
        <div class="col-lg-4 col-md-6 main__supports__logo">
          <img src="../../images/open-society-foundation.png" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body__overlay"
     ng-swipe-left="menu.hide()"
     ng-swipe-down="courseMaterials.hide()"
     ng-click="menu.hide(); courseMaterials.hide()"
     ng-show="menu.isVisible() || courseMaterials.isVisible()"></div>
