<div ng-include="'header/header.html'"></div>
<div class="main" ui-view>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card" ng-repeat="i in [1,2,3]">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">{{ 'main.title' | translate }}</h3>
            Lorem ispum
          </div>
          <div class="card-footer text-xs-right">
            <button class="btn btn-primary">
              Do nothing
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
