.main {
  @include media-breakpoint-down(sm) {
    padding-top:$navbar-height;
  }

  a:not(.btn) {
    position: relative;

    &:before {
      content:"";
      position:absolute;
      bottom:-1px;
      left:0;
      right:0;
      height:2px;
      background: mix($link-color, white, 20);
    }

    &:hover {
      text-decoration: none;
      &:before {
        border-top:1px solid $link-color;
        height:3px;
      }
    }
  }

  &__intro {
    padding-top:calc(#{$navbar-height} + 15vh);
    color: white;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: $brand-primary;

    &:before {
      opacity:.6;
      content: "";
      z-index:0;
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background: black url("http://static.jquestapp.com/images/red-school-blur-factory.jpg") center center;
      background-size:cover;
      @include vendor-prefix(filter, brightness(.5));
    }

    &__headline {
      background:image-url("arrow-separator-reverse-white.svg") no-repeat right center;
      background-size:10px auto;
    }

    &__form {
      position: relative;
      z-index:10;
      padding-top:$spacer;
      padding-bottom:$spacer;

      .text-muted {
        color:rgba(white, .5);
      }

      .btn.btn-secondary {
        background:none;
        border:2px solid white;
        color:white;
        border-radius: $line-height * 1em;
        margin-top: $line-height * 1em;
      }
    }

    label {
      margin-right:1em;
    }
  }

}
