<div ng-include="'header/header.html'"></div>
<div class="main" ui-view>
  <div  ng-include="'main/season/season.html'"></div>
</div>
<div class="body__overlay" ng-swipe-left="menu.hide()" ng-click="menu.hide()" ng-show="menu.isVisible()"></div>
