<div ng-include="'header/header.html'"></div>

<div class="main" ui-view>
  <div class="main__intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 main__intro__headline">
          <h1>Enroll in jQuest</h1>
          <p class="lead">
            Thousands of students already joined jQuest: the best place to aquire
            basics of datajournalism with a learn-as-you-go platform.
          </p>
        </div>
        <div class="col-sm-5 col-sm-push-1 main__intro__form" ng-init="main.iam = 'school'">
          <label class="lead">
            <input type="radio" ng-model="main.iam" value="school" />
            I'm representing a school
          </label>
          <label class="lead">
            <input type="radio" ng-model="main.iam" value="student" />
            I'm a student
          </label>
          <div ng-switch="main.iam" class="text-muted">
            <div ng-switch-when="school">
              <p>Lando solo moff skywalker hutt. Greedo gonk secura leia mandalore skywalker. Antilles skywalker c-3po utapau zabrak. Darth anakin ponda jabba calamari padmé.</p>
              <a class="btn btn-secondary" href="mailto:enroll@jquestapp.com">
                <i class="fa fa-envelope-o"></i>&nbsp;
                enroll@jquestapp.com
              </a>
            </div>
            <div ng-switch-when="student">
              <p>Jinn jade wicket r2-d2 obi-wan cade hutt padmé antilles. Wicket moff solo kenobi. Solo zabrak coruscant twi'lek mandalore skywalker wedge yoda. Calrissian luke wampa luke luuke yoda organa sidious qui-gon. Solo lando obi-wan yoda moff jinn dooku.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body__overlay"
     ng-swipe-left="menu.hide()"
     ng-swipe-down="courseMaterials.hide()"
     ng-click="menu.hide(); courseMaterials.hide()"
     ng-show="menu.isVisible() || courseMaterials.isVisible()"></div>
