<div class="main__season__leaderboard">
  <div class="container">
    <div class="card">
      <div class="card-block">
        <div class="row">
          <div class="card-title col-sm-8">
            <h3>
              <i class="fa fa-trophy"></i>
              Leaderboard
            </h3>
          </div>
          <div class="col-sm-4 text-xs-left text-sm-right">
            <a class="btn btn-link btn-outline" ui-sref="main.season.activities">
              <i class="fa fa-list-alt"></i>
              View activity log
            </a>
          </div>
        </div>
        <p class="lead">
          You are {{ main.season.progression.position }}{{ main.positionAbbr(main.season.progression.position) }}.
          Your schoolmates are in brown.
        </p>
        <div class="main__season__leaderboard__overview">
          <div ng-repeat="point in leaderboard.points track by $index"
               class="main__season__leaderboard__overview__user"
               ng-class="{
                 'main__season__leaderboard__overview__user--schoolmate': leaderboard.isSchoolmate(point),
                 'main__season__leaderboard__overview__user--you': leaderboard.isYou(point)
               }">
            <div class="main__season__leaderboard__overview__user__label">
              <span ng-if=" leaderboard.isYou(point)">You with</span>
              <span ng-if="!leaderboard.isYou(point)">{{ ::point.user_display_name }}</span>
              {{ ::point.value }} pts
            </div>
          </div>
        </div>
        <p class="lead" ng-show="leaderboard.userSchool">
          Your school is {{ leaderboard.userSchool.position }}{{ main.positionAbbr(leaderboard.userSchool.position) }}
          out of {{ leaderboard.schools.length }}.
        </p>
      </div>
      <table class="small table table-striped">
        <caption class="text-xs-center">Schools ranking</caption>
        <thead>
          <tr>
            <th style="width: 5%"></th>
            <th style="width: 50%">School</th>
            <th>Country</th>
            <th class="text-xs-right">Total points</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="school in :: leaderboard.schools | orderBy:'position'" ng-class="{ 'table-warning': school.id == leaderboard.userSchool.id }">
            <td>
              {{ school.position }}{{ main.positionAbbr(school.position) }}
            </td>
            <td>
              <strong>{{ school.name }}</strong>
            </td>
            <td class="text-muted">
              {{ school.country_name }}
            </td>
            <td class="text-xs-right">
              {{ school.points }}
            </td>
          </tr>
        </tbody>
      </table>

      <table class="small table table-striped">
        <caption class="text-xs-center">Participants ranking</caption>
        <thead>
          <tr>
            <th style="width: 5%"></th>
            <th style="width: 50%">User</th>
            <th>School</th>
            <th class="text-xs-right">Points</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="point in :: leaderboard.points | orderBy:'position' track by $index" ng-class="{ 'table-warning': leaderboard.isYou(point) }">
            <td class="text-xs-right">
              {{ point.position }}{{ main.positionAbbr(point.position) }}
            </td>
            <td>
              <strong>
                {{ point.user_display_name }}
              </strong>
            </td>
            <td>
              {{ :: leaderboard.schoolIdToName(point.school_id) }}
            </td>
            <td class="text-xs-right">
              {{ point.value }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
