<div class="main__403">
  <div class="main__403__body">
    <h2><i class="fa fa-server"></i> Hohoho</h2>
    <div class="lead">
      <p>
        You are not authorized to access this page!
      </p>
      <p>
        Maybe you are lost, maybe you aren't. You can ethier ask for help
        <a href="{{ main.slackStatus.hostname }}" target="_blank">on Slack</a> or go back in time and try to learn from your mistakes.
      </p>
      <p>
        <a class="main__403__body__btn btn btn-reverse" ui-sref="main">
          Go back to the homepage
        </a>
      </p>
    </div>
  </div>
</div>
