<div class="main__404" parallax-bg="1/2">
  <div class="main__404__body">
    <h2><i class="fa fa-space-shuttle"></i> Hohoho</h2>
    <div class="lead">
      <p>
        The page you are looking for doesn't exist in this four-dimensional continuum space-time. 
      </p>
      <p>
        Maybe you are lost, maybe you aren't. You can ethier ask for help
        <a href="{{ main.slackStatus.hostname }}" target="_blank">on Slack</a> or go back in time and try to learn from your mistakes.
      </p>
      <p>
        <a class="main__404__body__btn btn btn-reverse" ui-sref="main">
          Go back to the homepage
        </a>
      </p>
    </div>
  </div>
</div>
