<div class="course-materials card card-inverse" ng-show="courseMaterials.hasCourseMaterials()">
  <div class="card-block card-text">
    <h4 class="card-title">
      <i class="fa fa-graduation-cap fa-fw"></i>&nbsp;Course Material
    </h4>
    <p>These items from the course cover specific aspects of datajournalism techniques and tools. They'll help you carry out your missions.</p>
    <ul class="list-unstyled">
      <li ng-repeat="courseMaterial in courseMaterials.getFiltered() | orderBy:'randomToken' | limitTo:3">
        <a ng-click="courseMaterials.select(courseMaterial)">
          <div>
            {{ courseMaterial.title }}
          </div>
          <div class="small" ng-show="courseMaterial.category">
            <i class="fa fa-tag"></i>&nbsp;<em>{{ courseMaterial.category }}</em>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
