<div class="course-materials card card-inverse"  ng-show="courseMaterials.hasCourseMaterials()">
  <div class="card-block card-text">
    <h3 class="card-title">
      <i class="fa fa-graduation-cap"></i> Course Material
    </h3>
    <p>Those links contain topical information on a specific aspect of datajournalism, they'll help you carry out your mission.</p>
    <ul>
      <li ng-repeat="courseMaterial in courseMaterials.getFiltered()">
        <a ng-click="courseMaterials.select(courseMaterial)">
          <div>
            {{ courseMaterial.title }}
          </div>
          <div class="small" ng-show="courseMaterial.category">
            <em>{{ courseMaterial.category }}</em>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
