/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/client, vendor/assets/client,
 * or any plugin's vendor/assets/client directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-shadows: true;
$enable-transitions: true;
$enable-rounded: false;

// Body
//
$body-bg: #F2EEE8;
$body-bg: #F2EEE8;
$body-color:#42413c;

// Colors
//
$brand-primary: #3D303D;
$link-color: #211a21;

// Fonts
//
$font-family-sans-serif: "Fira Sans", "Droid Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", Arial, sans-serif;

// Cards
//
$card-bg: #fffbf5;
$card-border-color: mix($card-bg, $body-color, 90);
$card-cap-bg: $card-border-color;

// Jumbotron
//
$jumbotron-bg: $card-bg;

// Lists
//
$list-group-bg: $card-bg;
$list-group-border-color: $card-border-color;

// Navs
//
$nav-link-hover-bg:             mix($card-bg, $body-bg);
$nav-disabled-link-color:       $card-bg;
$nav-disabled-link-hover-color: $card-bg;

$nav-tabs-border-color:                       darken($card-border-color, 5);
$nav-tabs-link-hover-border-color:            mix($card-bg, $body-bg);
$nav-tabs-active-link-hover-color:            $card-bg;
$nav-tabs-active-link-hover-bg:               $body-bg;
$nav-tabs-active-link-hover-border-color:     darken($card-border-color, 5);
$nav-tabs-justified-link-border-color:        darken($card-border-color, 5);
$nav-tabs-justified-active-link-border-color: $body-bg;


// Forms
//
$input-border-focus:             #FEB24C;
$input-box-shadow-focus:         rgba($input-border-focus, .3);


@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('//fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700&subset=latin,latin-ext');
// External
//
@import "bootstrap";
// Internal
//
@import "./mixins";
@import "./animations";
@import "./hamburger";
