/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/client, vendor/assets/client,
 * or any plugin's vendor/assets/client directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree ../client
 *= require_tree ../components
 */

$body-bg: #F2EEE8;
$body-color:#34343C;

$brand-primary: #3D303D;
$link-color: #211a21;

$font-family-sans-serif: "Fira Sans", "Droid Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", Arial, sans-serif !default;

$card-bg: #fffbf5;
$card-border-color: mix($card-bg, $body-bg);
$card-cap-bg: $card-border-color;
$jumbotron-bg: $card-bg;

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700&subset=latin,latin-ext);
@import "bootstrap";
