html .course-materials {
  background:$brand-primary url("images/people-coffee-notes-tea-high-contrast.jpg") center center;
  background-size: cover;
  color:white;
  @include transition(0.7s);

  &.ng-hide {
    opacity:0;
    @include vendor-prefix(transform, translateY(50%) );
  }

  ul {
    margin:0;
  }

  li {
    padding:$spacer-y 0;

    &:not(:last-child) {
      border-bottom: 1px dashed rgba(white, 0.2);
    }

    html body .main .main__season .pg & a {
      color:white;
      cursor: pointer;
      display: block;

      &:hover em {
        text-decoration: none;
      }

      &:before {
        display: none;
      }

      .small {
        color:rgba(white, 0.65);
      }
    }
  }

}
