<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag 'app', media: 'all' %>
<% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "app" %>
<% end %>

<div ui-view ng-cloak>
</div>
