<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag 'season', media: 'all' %>
<% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "season" %>
<% end %>


<div ui-view ng-cloak>
</div>
